<?xml version="1.0" encoding="utf-8"?>
<BACnetSCConfigChannel>
  <primaryHubURI>wss://127.0.0.1:47808</primaryHubURI>
  <failoverHubURI>wss://127.0.0.1:47809</failoverHubURI>
  <UUID>d3e333f7-2af8-bac0-0cab-36dc0f475376</UUID>
  <OwnCertificateFile>Yabe.p12</OwnCertificateFile>
  <HubCertificateFile>TestHub.crt</HubCertificateFile>
  <ValidateHubCertificate>false</ValidateHubCertificate>
</BACnetSCConfigChannel>